@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  background-color: #231F20;
}

body {
  background-color: #231F20
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin-top: 125px;
  margin-left: 300px;
}


.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
  margin-left: 254.5px;
}


.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
  margin-left: 250px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;

  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }

  25% {
    top: 2px;
  }

  50% {
    top: 3px;
  }

  75% {
    top: 2px;
  }

  100% {
    top: 1px;
  }
}

@-o-keyframes mouse-wheel {

  0% {
    top: 1px;
  }

  25% {
    top: 2px;
  }

  50% {
    top: 3px;
  }

  75% {
    top: 2px;
  }

  100% {
    top: 1px;
  }
}

@keyframes mouse-wheel {

  0% {
    top: 1px;
  }

  25% {
    top: 2px;
  }

  50% {
    top: 3px;
  }

  75% {
    top: 2px;
  }

  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes mouse-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes mouse-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: red;
}

nav {
  margin: 20px auto 0;
  position: relative;
  width: 470px;
  height: 50px;
  background-color: #953553;
  border-radius: 0px;
  font-size: 0;
}

nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 0px;
}

a:nth-child(1) {
  width: 100px;
}

a:nth-child(2) {
  width: 110px;
}

a:nth-child(3) {
  width: 100px;
}

a:nth-child(4) {
  width: 160px;
}

a:nth-child(5) {
  width: 120px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: red;
}

nav .start-about,
a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: red;
}

nav .start-blog,
a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: red;
}

nav .start-portefolio,
a:nth-child(4):hover~.animation {
  width: 160px;
  left: 310px;
  background-color: red;
}

nav .start-contact,
a:nth-child(5):hover~.animation {
  width: 120px;
  left: 470px;
  background-color: red;

}


input[type="checkbox"] {
  -webkit-apperance: none;
  visibility: hidden;
  display: none;
}

.check {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background: #092c3e;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
}

input[type="checkbox"]:checked~.check {
  background: #fff;
  box-shadow: 0 0 0 2000px #092c3e;
}

.check:before {
  content: '';
  position: relative;
  top: 2px;
  left: 2px;
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateX(50px);

}

input[type="checkbox"]:checked~.check:before {
  transform: translateX(-50px);
  background: #092c3e;
}

.check:after {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  background: #092c3e;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateX(50px);

}

input[type="checkbox"]:checked~.check:after {
  transform: translateX(1000px);
}


.box {
  width: 800px;
  margin: 100px auto;
  background: #953553;
  border-radius: 7px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
}

.box .heading {
  background: #953553;
  border-radius: 7px 7px 0px 0px;
  padding: 10px;
  color: black;
  text-align: center;
  font-family: " ";

}

.faqs {
  padding: 0px 20px 20px;
}

::-webkit-details-marker {
  float: right;
  margin-top: 3px;
}

details {
  background: #f6f6f6;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;
  font-family: "Rubik";
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

details summary {
  outline: none;
  font-size: 20px;

}

.text {
  font-size: 20px;
}

.cta {
  padding: 10px 30px;
  background-color: #953553;
  opacity: 0.8;
  border: 1px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: -350px;
  transition: 0.3s ease;
  transition-property: background-color, color;
  width: 100px;
  height: 100px;
}

.cta2 {
  padding: 0px 0px;
  color: black;
  background-color: white;
  border: 1px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 25px;
  transition: 0.3s ease;
  opacity: 0.8;
}

.cta1 {
  padding: 10px 30px;
  background-color: #953553;
  opacity: 0.8;
  border: 1px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: -350px;
  transition: 0.3s ease;
  transition-property: background-color, color;
  width: 200px;
  height: 50px;
  margin-top: 0px;
}

.cta3 {
  padding: 10px 30px;
  background-color: #953553;
  opacity: 0.8;
  border: 1px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: -350px;
  transition: 0.3s ease;
  transition-property: background-color, color;
  width: 160px;
  height: 50px;
  margin-top: 0px;
  margin-left: 150px;
}

.cta:hover {
  color: white;
  background-color: crimson;
}

.cta1:hover {
  color: white;
  background-color: crimson;
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.brand h1 span {
  color: crimson;
}

.logo {
  margin-top: -10px;
  height: 60px;
  width: 40px;
  margin: 0px;
  padding: 0px 0;
}

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 15vh;
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 500vw;
  height: 50vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.5s ease left;
}

#header .nav-list ul.active {
  left: 0%;
}

#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: #953553;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a {
  color: crimson;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

#header .hamburger:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

/* End Header section */

/* Hero Section */
#hero {
  background-image: url(wp.png);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;

}

#hero h1 {
  width: fit-content;
  font-size: 4rem;
  position: relative;
  animation-delay: 1s;
  margin-top: 0px;
}

#hero h1:nth-child(1) {
  animation-delay: 1s;
  color: white;
}

#hero h1:nth-child(2) {
  animation-delay: 2s;
  color: white;
}

#hero h1:nth-child(3) {
  animation-delay: 3s;
  color: red;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}

/* End Hero Section */

/* Services Section */
#services .services {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#services .service-top {
  max-width: 500px;
  margin: 0 auto;
}

#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#services .service-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(https://cdn.discordapp.com/attachments/846109325319471154/933056161211645952/anime.jpg);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#services .service-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.9;
  z-index: -1;
}

#services .service-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

#services .service-item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#services .service-item p {
  color: white;
  text-align: left;
}

#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#projects .projects-header h1 {
  margin-bottom: 50px;
}

#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

#projects .project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
}

#projects .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}

#projects .project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}

#projects .project-info p {
  color: white;
}

#projects .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#projects .project-img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.1;
}

#projects .project-img img {
  transition: 0.3s ease transform;
}

#projects .project-item:hover .project-img img {
  transform: scale(1.1);
}

.flip-card {
  background-color: transparent;
  width: 500px;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: black;
  color: black;
}

.flip-card-back {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
  transform: rotateY(180deg);
}

.vyhody {
  margin-right: 300px;
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
  margin-right: -5px;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.second {
  width: 100%;
  height: 300px;
  position: relative;
  margin-top: 10px;
}

.triple {
  width: 100%;
  height: 300px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .col-left {
  width: 100px;
  height: 100px;

}

#about .col-right {
  width: 100%;
  margin-left: 120px;
}

#about .col-right h2 {
  font-size: 20px;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

#about .col-right p {
  margin-bottom: 20px;
}

#about .col-right .cta {
  color: white;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}

#about .col-left .about-img {
  height: 100%;
  width: 138%;
  position: relative;
}

#about .col-left .about-img::after {
  content: '';
  position: absolute;
  left: -33px;
  top: 19px;
  height: 100%;
  width: 100%;
  border: 5px solid crimson;
  z-index: -1;
}

body {
  background: #f9f9f9;
  font-family: "roboto", sans-serif;
}

.main-content {
  margin: 50px auto;
  padding: 50px;
  max-width: 1350px;
  background: #fff;
  -webkit-box-shadow: 0 20px 100px -15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 100px -15px rgba(0, 0, 0, 0.1);
}

.page-title {
  font-size: 45px;
  margin: 0 auto 80px auto;
}

.page-title:after {
  content: "";
  width: 110px;
  height: 4px;
  background: #FE8C1A;
  display: block;
  margin: 15px auto 0 auto;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-card {
  background: #fff;
  -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
}

.profile-card .profile-card_cover {
  height: 130px;
  overflow: hidden;
}

.profile-card .profile-card_cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile-card .profile-card_padding {
  padding: 25px;
  position: relative;
  margin-top: -85px;
}

.profile-card .profile-card_image {
  width: 125px;
  height: 125px;
  border-radius: 125px;
  overflow: hidden;
  border: 4px solid #fff;
  margin: 0 auto 15px auto;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.profile-card .profile-card_image img {
  width: 125px;
  height: 125px;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile-card .profile-card_details h3 {
  font-size: 21px;
}

.profile-card .profile-card_details p {
  font-size: 16px;
  margin-bottom: 15px;
}

.profile-card .profile-card_social {
  text-align: center;
}

.profile-card .profile-card_social a {
  display: inline-block;
}

.profile-card .profile-card_social img {
  width: 33px;
  margin: 5px 10px;
}

.our-team .post {
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #707070;
  text-transform: capitalize;
}

#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

#contact .contact-items {
  width: 100%;
}

#contact .contact-item {
  width: 100%;
  padding: 300px;
  border-radius: 0px;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 20px 38px 0 #0000002c;
}


#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

.card {
  width: 300px;
  height: 180px;
  padding: 0;
  border-radius: 0px;
  overflow: hidden;
  align-items: center;
  margin-bottom: 30px;

}

.card * {
  transition: 0.3s ease all;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block;
  align-items: center;
}

.card h3 {
  text-align: center;
  padding: 12px 12px 48px;
  line-height: 32px;
  font-weight: 500;
  font-size: 20px;
}

.card .focus-content {
  display: block;
  padding: 8px 12px;
  text-align: center;
}

.card p {
  margin: 0;
  line-height: 1.5;
}

.card:hover img,
.card:focus-within img {
  margin-top: -80px;
}

.card:hover h3,
.card:focus-within h3 {
  padding: 8px 12px 0;
}

.tik {
  margin-left: 100px;
}

.dis {
  margin-left: 100px;
}

.column {
  margin-top: -200px;
  float: left;
  width: 25%;
  padding: 10px;
  margin-left: 500px;

}

.column2 {
  float: left;
  width: 25%;
  padding: 10px;
  margin-right: 500px;
  margin-bottom: -30px;


}

.soc {
  font-size: 25px;
}

#footer {
  background-color: white;
}

#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}

#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}

#footer .social-item:hover img {
  filter: grayscale(0);
}

#footer p {
  color: white;
  font-size: 1.3rem;
}

@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500;
  }
}

@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }

  h1.section-title {
    font-size: 6rem;
  }

  #hero h1 {
    font-size: 7rem;
  }

  #services .service-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
  }

  #projects .project-item {
    flex-direction: row;
  }

  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  #projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  #projects .all-projects .project-info {
    height: 100%;
  }

  #projects .all-projects .project-img {
    height: 100%;
  }

  #about .about {
    flex-direction: row;
  }

  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }

  #about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid crimson;
  }

  #about .col-right {
    text-align: left;
    padding: 30px;
  }

  #about .col-right h1 {
    text-align: left;
  }

  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
  }

  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }

  #contact .contact-item {
    width: 30%;
    margin: 0;
    flex-direction: row;
  }

  #contact .contact-item .icon {
    height: 100px;
    width: 100px;
  }

  #contact .contact-item .icon img {
    object-fit: contain;
  }

  #contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul li a {
    font-size: 1.8rem;
  }

  #header .nav-list ul a:after {
    display: none;
  }

  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}